@page "/"

@using Scrape.Model
@using Scrape.Data.Helpers

@inject Data data;
@inject NavigationManager navManager

<PageTitle>Scraper</PageTitle>

<h1>Vind een job:</h1>

<div>@SearchPattern.URL</div>

<div class="clearfix">
    @foreach (var str in CheckedDomains)
    {
        <div class="domain">@str</div>
    }
</div>



<div class="btn-group">
    <button type="button" class="btn btn-danger dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
        Action
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            
    @foreach (var row in data.GetDomains())
    {
            <div class="dropdown-item" @onclick="() => Check(row.Domain.Id)">                
                &nbsp;@row.Domain.Title
            </div>
    }

    </div>
</div>



@code {
    private SearchPattern SearchPattern { get; set; } = new SearchPattern();

    private List<string> CheckedDomains { get; set; } = new List<string>();

    protected override async Task OnInitializedAsync()
    {
        // set standard URL VDAB website search vacancies
        SearchPattern.URL = "https://www.vdab.be/vindeenjob/vacatures?sort=standaard";

        
    }

    public void Check(int domainId)
    {
        // loop through domains
        foreach (var row in data.GetDomains().Where(r => r.Domain.Id == domainId))
        {
            // if SearchPattern.URL has specific domain URLPattern
            if (SearchPattern.URL.Contains(row.Domain.URLPattern))
            {
                // replace that domain URLPattern with empty string
                SearchPattern.URL = SearchPattern.URL.Replace(row.Domain.URLPattern, "");

                CheckedDomains.Remove(row.Domain.Title);
            }
            else
            {
                // add pattern url
                SearchPattern.URL += row.Domain.URLPattern;
                CheckedDomains.Add(row.Domain.Title);
            }

        }
    }
}
